.comment__section {
  margin-bottom: 0 !important;
}

.comment__label {
  font-size: 12px;
}

.comment__submit {
  background-color: #438cb9;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 50px;
  font-weight: 500;
  text-decoration: none;
}
.comment__submit:active {
  background-color: #438cb9;
}

.comment__submit:hover {
  background-color: #3d81ab;
}
