.profile__picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("./profilepic.jpg");
  background-position: center center;
  background-size: cover;
  margin: 1rem;
}
